[submodule "pack/base/start/auto-pairs"]
	path = pack/base/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/base/start/vim-eunuch"]
	path = pack/base/start/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "pack/base/start/vim-repeat"]
	path = pack/base/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/base/start/vim-rsi"]
	path = pack/base/start/vim-rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule "pack/base/start/vim-sleuth"]
	path = pack/base/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "pack/interface/start/vim-colorschemes"]
	path = pack/interface/start/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "pack/interface/start/buffertitle.vim"]
	path = pack/interface/start/buffertitle.vim
	url = git@github.com:rliang/buffertitle.vim.git
[submodule "pack/interface/start/compick.vim"]
	path = pack/interface/start/compick.vim
	url = git@github.com:rliang/compick.vim.git
[submodule "pack/interface/start/vim-mundo"]
	path = pack/interface/start/vim-mundo
	url = git@github.com:simnalamburt/vim-mundo.git
[submodule "pack/languages/start/vim-polyglot"]
	path = pack/languages/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/languages/start/ultisnips"]
	path = pack/languages/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/languages/start/vim-snippets"]
	path = pack/languages/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/languages/start/deoplete.nvim"]
	path = pack/languages/start/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "pack/languages/start/LanguageClient-neovim"]
	path = pack/languages/start/LanguageClient-neovim
	url = git@github.com:autozimu/LanguageClient-neovim.git
[submodule "pack/objects/start/vim-textobj-user"]
	path = pack/objects/start/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "pack/objects/start/vim-textobj-between"]
	path = pack/objects/start/vim-textobj-between
	url = git@github.com:thinca/vim-textobj-between.git
[submodule "pack/objects/start/vim-textobj-indent"]
	path = pack/objects/start/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent.git
[submodule "pack/objects/start/vim-textobj-parameter"]
	path = pack/objects/start/vim-textobj-parameter
	url = git@github.com:sgur/vim-textobj-parameter.git
[submodule "pack/objects/start/vim-textobj-methodcall"]
	path = pack/objects/start/vim-textobj-methodcall
	url = git@github.com:thalesmello/vim-textobj-methodcall.git
[submodule "pack/objects/start/vim-textobj-variable-segment"]
	path = pack/objects/start/vim-textobj-variable-segment
	url = git@github.com:Julian/vim-textobj-variable-segment.git
[submodule "pack/operators/start/vim-commentary"]
	path = pack/operators/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/operators/start/vim-exchange"]
	path = pack/operators/start/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "pack/operators/start/vim-sandwich"]
	path = pack/operators/start/vim-sandwich
	url = git@github.com:machakann/vim-sandwich.git
[submodule "pack/operators/start/vim-operator-user"]
	path = pack/operators/start/vim-operator-user
	url = git@github.com:kana/vim-operator-user.git
[submodule "pack/operators/start/operator-camelize.vim"]
	path = pack/operators/start/operator-camelize.vim
	url = git@github.com:tyru/operator-camelize.vim.git
[submodule "pack/operators/start/vim-easy-align"]
	path = pack/operators/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/languages/start/ale"]
	path = pack/languages/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/languages/start/vim-react-snippets"]
	path = pack/languages/start/vim-react-snippets
	url = https://github.com/epilande/vim-react-snippets
[submodule "pack/languages/start/vim-es2015-snippets"]
	path = pack/languages/start/vim-es2015-snippets
	url = https://github.com/epilande/vim-es2015-snippets
[submodule "pack/languages/start/vim-styled-components"]
	path = pack/languages/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
